/*
Name: Mohammad Mahmudur Rahman
Date: 25 February 2019
Purpose: To design html pages and override main bootstrap file and properly link with modified files.
*/

#container{
    border:1px solid grey;
    padding: 10px;
    margin-top: 15px;
    background-color: lightcoral;
    color:black;
    font-family: sans-serif, Arial;
}

.ins1{
    font-weight: bold;
    color:blueviolet;
}
h3{
    font-weight: bold;
}
#outputDiv {
    width:400px;
    border:1px solid crimson;
    height: 50px;
    display:none;
    background-color: white;
}

